.random-spell-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spell-info-container {
  position: absolute;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  height: 250px;
  padding: 30px;
  flex-wrap: wrap;
  border-radius: 20px;
}

.incantation-header {
  margin-bottom: 0;
}

.incantation {
  margin-top: 0;
}

.scroll-img {
  position: relative;
  z-index: -1;
  width: 40%;
}